input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #4f46e5;
}

button {
  background: #4f46e5;
  color: white;
  border-radius: 6px;
}

button:hover {
  background: #4338ca;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
